<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pega.android.vehicledamagemodeling">

    <application>
        <activity
            android:name=".VehicleDamageModelingActivity"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|screenLayout|orientation" />
    </application>

</manifest>